/* -----------------------------------
Base
-------------------------------------- */

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    font-feature-settings: "kern" 1,"liga" 1;
    min-height: 0vw;
}

html {
    background-color: rgb(250,248,244);
    color: rgb(60, 60, 60);
}

body {
    font-family: "Hoefler Text", Georgia, serif;
    margin: 0;
    font-size: 24px;
    line-height: 1.5;
    max-width: 40rem;
    margin: 0 auto;
}

h1 {
    margin-top: 4em;
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

h2, h3 {
    font-size: 1em;
    font-family: -apple-system, Helvetica, sans-serif;
    font-weight: bolder;
}

a {
    color: rgb(60, 60, 60);
    transition-duration: 0.2s;
}

a:hover {
    color: rgb(120, 120, 120);
}

img {
    text-align: center;
    max-width: 100%;
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: solid 2px gray;
}

body::after {
    display: block;
    content: "❦";
    text-align: center;
    font-size: 2em;
}
